# NAVIGATION
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# LIST
alias l="ls -alth --color | bat"
alias l10="ls -alth --color | head -10"
alias l20="ls -alth --color | head -20"

# NVIM
alias vim="nvim"

# TMUX
alias ta="tmux attach"
alias td="tmux detach"

# INTERACTIVE COPY
alias cp="cp -iv"

# GIT
alias gs="git status"
alias gd="git diff |bat"
alias gds="git diff --staged |bat"
alias gc="git commit"
alias gr="git gr"
alias gb="git branch -a"

# MVN
alias mvncpst="mvn clean package -DskipTests=true"
alias mvncist="mvn clean install -DskipTests=true"

# JAVA
alias JAVA11="export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64"
alias JAVA17="export JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64"
alias JAVA21="export JAVA_HOME=/usr/lib/jvm/java-21-openjdk-amd64"

# APPS
alias te="open -a TextEdit"
alias vsc="open -a \"Visual Studio Code.app\""

# BASE64
alias b64d="base64 --decode <<<"
